@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;

700;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  color: #1e212c;
  font-size: 16px;
}

.course-header__title {
  padding-right: 50px;
  font-size: 46px;
  text-align: center;
  font-weight: 900;
  line-height: 130%;
}

.course-header__subtitle {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  line-height: 150%;
  letter-spacing: 0.06em;
  margin-bottom: 8px;
}

.course-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  overflow-x: auto;
  max-width: 100%;
}

.course-nav__item {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
  cursor: pointer;
  text-wrap: nowrap;
}

.course-nav__item:hover {
  border-color: #9a9ca5;
}

.course-nav__item--active,
.course-nav__item--active:hover {
  border-color: #ff3f3a;
}

.course-nav__item--active .course-nav__link,
.course-nav__item--active:hover .course-nav__link {
  color: #ff3f3a;
}

.course-nav__link {
  color: #9a9ca5;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  font-weight: 700;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}

.course-nav__count {
  font-size: 10px;
  font-weight: 900;
  line-height: 150%;
}

.course-nav__search {
  font-size: 14px;
  width: 100%;
  max-width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d7dadd;
  border-radius: 4px;
}

.course-nav__search:has(.course-nav__search-input:focus-visible) {
  border: 1px solid #787a80;
}

.course-nav__search-input {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 5px;
  width: 100%;
  color: #1e212c;
}

.course-nav__search-input::-webkit-input-placeholder {
  color: #9a9ca5;
}

.course-nav__search-input::-moz-placeholder {
  color: #9a9ca5;
}

.course-nav__search-input:-ms-input-placeholder {
  color: #9a9ca5;
}

.course-nav__search-input::-ms-input-placeholder {
  color: #9a9ca5;
}

.course-nav__search-input::placeholder {
  color: #9a9ca5;
}

.course-nav__search-icon {
  cursor: pointer;
  min-width: 16px;
  height: 16px;
  padding-right: 16px;
}

.course-content__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 390px));
  gap: 30px;
  margin-bottom: 80px;
}

.course-content__item {
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
          box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.course-content__link {
  color: #1e212c;
}

.course-content__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.course-content__info {
  padding: 24px;
}

.course-content__tag {
  display: inline-block;
  border-radius: 4px;
  padding: 1px 7px;
  line-height: 150%;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 18px;
}

.course-content__title {
  line-height: 150%;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.course-content__footer {
  line-height: 150%;
  font-size: 18px;
  color: #787a80;
}

.course-content__price {
  color: #ff4242;
  font-weight: 700;
}

.course-content__more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-weight: 700;
  line-height: 160%;
  color: #424551;
}

.course {
  position: relative;
}

.course__container {
  position: relative;
  z-index: 1;
  padding: 44px 15px 86px 15px;
  max-width: 1260px;
  margin: 0 auto;
}

.course__header {
  margin-bottom: 85px;
}

.course__nav {
  margin-bottom: 60px;
}

.course__decorate-dots {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 0;
}

.course__decorate-circles {
  position: absolute;
  top: 36%;
  left: 56px;
  z-index: 0;
}

.course__decorate-arrows {
  position: absolute;
  bottom: 37%;
  right: 70px;
  z-index: 0;
}

@media (max-width: 1259px) {
  .course-content__list {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@media (max-width: 639px) {
  .course-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}