//* Colors
$primary-color: #ff3f3a;
$secondary-color: #ffcf2d;
$white-color: #ffffff;
$gray300-color: #e5e8ed;
$gray400-color: #d7dadd;
$gray600-color: #9a9ca5;
$gray700-color: #787a80;
$gray800-color: #424551;
$gray900-color: #1e212c;
$danger-color: #ff4242;
$info-color: #5a87fc;
$success-color: #03cea4;

//* Fonts
$font-family-default: "Lato", sans-serif;

//* Font sizes
$font-size-extra-small: 10px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-lead: 20px;
$font-size-extra: 46px;
